@{
    ViewBag.Title = "Sesión termianda";
}
<div class="page-header">
    <h1>Sesión terminada <small> esperamos le haya parecido una p&aacute;gina agradable </small></h1>
</div>
<object type="application/pdf" class="pdf" trusted="yes" application="yes" title="CV" data="/Media/Docs/CV.pdf">
</object>