@{
    ViewBag.Title = "Inicio";
}
<div class="jumbotron">
    <h1>OneCore</h1>
    <p>
        Bienvenido a mi p&aacute;gina de prueba.
    </p>
    <p>
        .NET C#, EntityFramework Code-First, LinqToEntities, jQuery, Bootstrap y Ajax
        son los simientos de lo que usted ve ahora, todo diseñado bajo el patrón de arquitectura MVC y el paradigma SeparationOfConcerns.
    </p>
    <p>
        @Html.ActionLink("Módulo de administración de usuarios", "Index", "Usuarios", null, new { @class = "btn btn-primary" })
    </p>
</div>